.about-section-01-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  justify-content: center;
}

.about-section-01-container > img {
  width: 100%;

  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.about-section-01-banner-text {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  color: white;
  align-self: center;
  justify-self: center;

  /* background-color: red; */
}

.about-section-02-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 60px;
}
.about-section-02-container > img {
  justify-self: flex-end;
}
.about-section-02-banner-text {

}

.about-vimeo-01-container {
  display: flex;
  justify-content: center;
}
