.about-section-01-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  justify-content: center;
}

.about-section-01-container > img {
  width: 100%;

  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.about-section-01-banner-text {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  color: white;
  align-self: center;
  justify-self: center;

  /* background-color: red; */
}

.about-section-02-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 60px;
}
.about-section-02-container > img {
  justify-self: flex-end;
}
.about-section-02-banner-text {

}

/* SECTION02 - About - Vimeo */
.about-vimeo-01-container {
  display: flex;
  justify-content: center;
}

/* SECTION 03 */
.about-section-03-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 60px;
}
/* .about-section-03-container > * {
  border: red solid 1px;
} */
.about-section-03-container > img {
  justify-self: flex-end;
}
.about-section-03-article {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  /* border: red solid 1px; */
}
.about-section-03-article > div > h2 {
  color: #F58221;
}
.about-section-03-article-img-01 {
  grid-row: 1 / 4;
}

/* SECTION 04 */
.about-section-04-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 60px;
  /* border: 1px solid red; */
}
.about-section-04-container > img {
  justify-self: flex-end;
  /* border: 1px solid red; */
}
/* .about-section-04-article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
} */
.about-section-04-article > * {
  border: red solid 1px;
}
.about-section-04-article > button {
  border: solid 3px black;
}

/* SECTION 05 */
.about-section-05-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 60px;
}
.about-section-05-container > img {
  justify-self: flex-end;
  /* border: 1px solid red; */
}
/* SECTION 0501 */
.about-section-0501-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: flex-end;
}
.about-section-0501-container > article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.about-section-0501-container > article > p {
  margin-top: 30px;
  width: 300px;
}
