/* EVENTS CARD */
.events-card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;

  border: 1px solid black;
  padding: 20px;
  width: 400px;
}
.events-card > * {
  border: 2px dotted red;
}

.events-section-01-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 60px;
}
.events-section-01-banner-title {
  justify-self: flex-end;

  /* Flexbox inside a grid */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.events-section-01-banner-title > h1 {
  font-size: 10em;
}

.events-section-01-banner-text {

  /* Grid inside Grid */
  display: grid;
}
