.events-section-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 60px;
}
.events-section-banner-title {
  justify-self: flex-end;

  /* Flexbox inside a grid */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.events-section-banner-title > h1 {
  font-size: 10em;
}
.events-section-banner-text {
  /* Grid inside Grid */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 50px;
}

.events-section-tutorial-banner-text {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 30px;
}
