.footer-container {
  display: grid;
  grid-template-columns: 2fr 2fr repeat(5, 1fr);
  grid-template-rows: 1fr 1fr auto;
  grid-template-areas:
    "office-c-t office-c about wwd blog events careers"
    "office-m-t office-m about wwd blog events careers"
    "footer footer footer footer footer footer footer";
  grid-column-gap: 20px;
  grid-row-gap: 40px;

  background-color: #555555;
  color: white;
  /* border: solid 1px red; */
}

/* .footer-container > * {
  border: dotted 1px red;
} */

.footer-chicago-office-title {
  grid-area: office-c-t;
  /* justify-self: end; */
  text-align: right;
  line-height: 1.6;
}
.footer-chicago-office {
  grid-area: office-c;
  line-height: 2.0;
}
.footer-milwaukee-office-title {
  grid-area: office-m-t;
  /* justify-self: end; */
  text-align: right;
  line-height: 1.6;
}
.footer-milwaukee-office {
  grid-area: office-m;
  line-height: 2.0;
}

.footer-about {
  grid-area: about;
}
.footer-what-we-do {
  grid-area: wwd;
}
.footer-blog {
  grid-area: blog;
}
.footer-events {
  grid-area: events;
}
.footer-careers {
  grid-area: careers;
}
.footer-container-02 {
  grid-area: footer;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: .8em;
}
