.header-nav {
  display: flex;
  /* flex-direction: row; */
  justify-content: flex-end;
  /* position: relative; */
  /* border: 1px red solid; */
}
.header-nav > * {
  align-self: center;
  /* margin: 0 20px; */
  margin-left: 50px;
  /* border: 1px red solid; */
  text-decoration: none;
  color: white;
}
.header-nav > *:active {
  color: #F58221;
}
.header-nav a:first-child  {
  margin-right: auto;
}
