/* SECTION 01 */
.work-section-01-container {
  margin-top: -300px;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-column-gap: 60px;

  height: 400px;

}

.work-section-01-client-img {
  grid-column: 1 / 3;
  width: 99vw;

}
.work-section-01-banner-title {
  justify-self: flex-end;
}

/* Grid inside a grid */
.work-section-01-banner-text-02 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
}
